html {
  background-color: white;
  padding: 2px;
}

body {
  font-family: "Geist";
  background-color: var(--si-gray-950);
  width: 340px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 24px 32px;
  min-height: 398px;
  height: 100%;
  justify-content: center;
}

.content {
  display: grid;
  align-items: center;
}

.kofi {
  display: flex;
  justify-content: center;
}

.kofi {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--si-gray-600);
  font-size: 12px;
  line-height: normal;
  margin-top: 34px;
}
