:root {
  --si-amethyst-50: #f7f3ff;
  --si-amethyst-100: #f0e9fe;
  --si-amethyst-200: #e2d7fd;
  --si-amethyst-300: #ceb6fc;
  --si-amethyst-400: #b68df8;
  --si-amethyst-500: #954ef2;
  --si-amethyst-600: #933dea;
  --si-amethyst-700: #842bd6;
  --si-amethyst-800: #6e24b3;
  --si-amethyst-900: #5b1f93;
  --si-amethyst-950: #381263;
  --si-gray-50: #faf9fa;
  --si-gray-100: #f0eef1;
  --si-gray-200: #dcd7df;
  --si-gray-300: #bdb6c4;
  --si-gray-400: #a99fb2;
  --si-gray-500: #95889f;
  --si-gray-600: #81728d;
  --si-gray-700: #6c6077;
  --si-gray-800: #584d60;
  --si-gray-900: #433b49;
  --si-gray-950: #2e2933;
  --si-success-50: #f1fcf2;
  --si-success-100: #defae4;
  --si-success-200: #bff3c9;
  --si-success-300: #8ee7a0;
  --si-success-400: #55d370;
  --si-success-500: #2db44a;
  --si-success-600: #21983b;
  --si-success-700: #1d7831;
  --si-success-800: #1c5f2b;
  --si-success-900: #194e26;
  --si-success-950: #082b12;
  --si-error-50: #fef2f2;
  --si-error-100: #fee2e2;
  --si-error-200: #fecaca;
  --si-error-300: #fca5a5;
  --si-error-400: #f87171;
  --si-error-500: #f05050;
  --si-error-600: #dc2626;
  --si-error-700: #b91c1c;
  --si-error-800: #991b1b;
  --si-error-900: #7f1d1d;
  --si-error-950: #450a0a;
}
