.commentsForm {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
}

.modal {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1px);
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color-mix(in srgb, var(--si-gray-950) 25%, transparent);
}

.modal span {
  color: var(--si-amethyst-50);
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}

.hidden {
  visibility: hidden;
}

.buttonWrapper {
  display: flex;
  gap: 8px;
  align-self: end;
  align-items: center;
}

.commentInput {
  color: var(--si-amethyst-50);
  font-size: 14px;
  font-weight: 400;
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  background-color: color-mix(in srgb, var(--si-gray-900) 50%, transparent);
  border: 1px solid color-mix(in srgb, var(--si-amethyst-400) 25%, transparent);
  box-shadow: none;
  resize: none;
  height: 128px;
}

.replyEditHeight {
  height: 80px !important;
}

.commentInput::-webkit-scrollbar {
  width: 4px;
}

.commentInput::-webkit-scrollbar-track {
  background: none;
}

.commentInput::-webkit-scrollbar-thumb {
  background: var(--si-gray-600);
  border-radius: 8px;
}

.commentInput::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--si-gray-600) 90%, transparent);
}

.commentInput:focus {
  outline: none;
  box-shadow: none !important;
  border: 1px solid color-mix(in srgb, var(--si-amethyst-400) 25%, transparent) !important;
}

.commentInput:hover {
  box-shadow: none !important;
  border: 1px solid color-mix(in srgb, var(--si-amethyst-400) 25%, transparent) !important;
}

.submitBtn {
  color: var(--si-amethyst-50);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  background-color: color-mix(in srgb, var(--si-amethyst-500) 75%, transparent);
  border: 1px solid color-mix(in srgb, var(--si-amethyst-500) 10%, transparent);
  height: 32px;
  width: 98px;
  border-radius: 6px;
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.replyEditBtn {
  color: var(--si-gray-50) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  background-color: color-mix(
    in srgb,
    var(--si-amethyst-500) 75%,
    transparent
  ) !important;
  border: 1px solid color-mix(in srgb, var(--si-amethyst-500) 10%, transparent) !important;
  padding: 4px 8px !important;
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 6px !important;
}

.cancelBtn {
  color: var(--si-gray-600) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: normal !important;
  background-color: transparent !important;
  border: none !important;
}

.submitBtn:disabled,
.replyEditBtn:disabled {
  background-color: var(--si-gray-400);
  cursor: default;
}

.cancelBtn:disabled {
  cursor: wait;
}
