.sidebar {
  font-family: "Geist";
  position: fixed;
  top: 0;
  right: 0;
  max-width: 580px;
  width: 100%;
  z-index: 10000;
  background-color: color-mix(in srgb, var(--si-gray-950) 99%, transparent);
  border-left: 1px solid
    color-mix(in srgb, var(--si-amethyst-400) 25%, transparent);
  padding: 32px;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.header {
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.headerVisible {
  transform: scaleX(1);
}

.open {
  transform: translateX(0);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.visible {
  transform: translateX(0);
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, var(--si-gray-950) 90%, transparent);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  z-index: -1;
}

.commentInputWrapper {
  position: relative;
}

.commentsList {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-height: calc(100svh - 232px);
  overflow-y: scroll;
  padding-right: 4px;
}

.commentsList::-webkit-scrollbar {
  width: 4px;
}

.commentsList::-webkit-scrollbar-track {
  background: none;
}

.commentsList::-webkit-scrollbar-thumb {
  background: var(--si-gray-600);
  border-radius: 8px;
}

.commentsList::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--si-gray-600) 90%, transparent);
}

.toggle {
  position: absolute;
  top: 64;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, var(--si-gray-950) 95%, transparent);
  width: 32px;
  height: 32px;
  border: 1px solid;
  border-right: 0;
  border-color: color-mix(in srgb, var(--si-amethyst-400) 25%, transparent);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

.noComments {
  color: var(--si-amethyst-50);
  font-size: 16px;
  font-weight: 500;
  align-self: center;
}

@media screen and (min-width: 640px) {
  .toggle {
    left: -32px;
  }
}
