.input {
  background-color: transparent;
  color: var(--si-text);
  font-size: 12px;
  border: 1px solid var(--si-primary);
  padding: 8px;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-color: var(--si-text);
}
