.input {
  color: var(--si-gray-600);
  background-color: var(--si-gray-900);
  font-size: 14px;
  border: 2px solid var(--si-gray-900);
  padding: 4px;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-color: var(--si-amethyst-600);
}
